extends layout

block content
  h1 Bots
  table
    tr
      td Name
      td Status
      td Last Seen
    each bot, name in bots
      tr
        td #{name}
        td #{bot.status}
        td #{bot.lastSeen}