extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/search', method='post')
    div(class='form-group')
      label(for='search') Search
      input(type='text', class='form-control', id='search', name='query', placeholder='Search here...')
      input(type='submit')
